.head {
    background-image: url("../assets/image/home2.jpg");
    height: 500px;
    width: 100%;
}

.headeri {
    margin-top: 50px;
}

.a {
    padding-top: 100px;
}

h4 {
    text-align: center;
}

.home1 {
    background-color: rgba(133, 130, 130, 0.541);
    margin-left: 350px;
    height: 300px;
    border-radius: 50px;
    width: 550px;
    text-align: center;
    padding: 30px;
}

.d {
    padding-left: 100px;
}